{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Lobby</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/room.css' %}">
</head>
<body>

<div class="room-main">
    <div class="room-up-main">
    <div class="room-title-main">
        <h1>Rooms:</h1>
    </div>
    <ul id="game_list" class="room-list unselectable">
         {% for room in rooms %}
            <li id="{{ room.getId }}" room_id="{{ room.getId }}" onclick="room_request.joinRoom('{{ room.getId }}')">{{ room.getPlayerNb }} Player - ({{ room.getId }})</li>
         {% endfor %}
    </ul>
    </div>
    <div class="room-create-btn-main">
        <span class="room-create-btn unselectable" onclick="room_request.createRoom()">Create Room</span>
    </div>
</div>

<script type="text/javascript" src="{% static 'js/auth.js' %}"></script>
<script type="text/javascript" src="{% static 'js/game/room_visual.js' %}"></script>
<script type="text/javascript" src="{% static 'js/game/room_request.js' %}"></script>
<script type="text/javascript">
    const room_request = new RoomRequest()

</script>
</body>
</html>